In [1]:
from sqlalchemy import create_engine
import pandas as pd
import sqlite3

In [2]:
df_tv_english=pd.read_excel('df_tv_english.xlsx')
netflix_db=pd.read_excel('fixed_netflix_db.xlsx')

In [3]:
engine = create_engine('sqlite:///C:/Users/vinic/Documents/Netflix Analysis/netflix.db', echo=False)

In [4]:
engine

Engine(sqlite:///C:/Users/vinic/Documents/Netflix Analysis/netflix.db)

In [5]:
df_tv_english.to_sql('netflix_table',con=engine,if_exists='replace', index=False)
netflix_db.to_sql('shows_table',con=engine,if_exists='replace', index=False)

273

In [6]:
connection = sqlite3.connect('netflix.db')
cursor = connection.cursor()

In [7]:
join_tables=cursor.execute('SELECT netflix_table.*,shows_table.*\
                FROM netflix_table\
                LEFT JOIN shows_table ON netflix_table.show_title=shows_table.show_title;').fetchall()

In [8]:
df=pd.DataFrame(join_tables,columns=['week','category','show_title','weekly_hours_viewed','drop_this',\
                              'cast_member_1','cast_member_2','cast_member_3',\
                                'genre_1','genre_2','genre_3','mood_1','mood_2'])

In [9]:
df.to_sql('netflix_table',con=engine,if_exists='replace', index=False)

1250

In [10]:
cursor.execute('UPDATE netflix_table \
                SET genre_1 = REPLACE(genre_1, "&amp;", "and")')

cursor.execute('UPDATE netflix_table \
                SET genre_2 = REPLACE(genre_2, "&amp;", "and")')

cursor.execute('UPDATE netflix_table \
                SET genre_3 = REPLACE(genre_3, "&amp;", "and")')

In [11]:
rows=cursor.execute('SELECT * FROM netflix_table;').fetchall()

In [17]:
df=pd.DataFrame(rows,columns=['week','category','show_title','weekly_hours_viewed','drop_this',\
                                    'cast_member_1','cast_member_2','cast_member_3',\
                                    'genre_1','genre_2','genre_3','mood_1','mood_2'])

In [18]:
df.drop('drop_this',axis=1,inplace=True)

In [19]:
df.shape

(1250, 12)

In [21]:
df.to_excel('netflix_database.xlsx',index=False)